output/
*~
build/
class
*.prof
*.ipynb_checkpoints/
notebooks/firstcell.py
notebooks/test_Pk.pdf
notebooks/PACDM_Neff.pdf
notebooks/test_spartacous.py
ini/test_pacdm.ini
ini/test_spartacous.ini
libclass.a
*out
python/classy.c
*.pyc
python/build/
*.dSYM
RealSpaceInterface/cache/
.DS_Store
doc/manual/html
doc/manual/latex
